<%- include('../../views/partials/html-head') %>
    <title>Edit <%= echo.name %></title>
</head>

<body>
    <%- include('../../views/partials/nav-start') %>
    <%- include('../../views/partials/nav-end') %>
    <h1>Edit <%= echo.name %></h1>
    <form action="/echoes/<%= echo._id %>?_method=PUT" method="POST">
        <fieldset aria-labelledby="edit-echo-legend">
            <legend id="edit-echo-legend">Edit Echo</legend>
            <div>
                <label for="name">New name:</label>
                <input type="text" name="name" id="name" value="<%= echo.name %>" required>
            </div>
            <div>
                <label for="triPowerCost">New Tri-Power cost:</label>
                <input type="number" name="triPowerCost" id="triPowerCost" value="<%= echo.triPowerCost %>" required>
            </div>
            <div>
                <label for="location">New location:</label>
                <input type="text" name="location" id="location" value="<%= echo.location %>">
            </div>
            <div>
                <label for="howToGet">New acquisition method</label>
                <input type="text" name="howToGet" id="howToGet" value="<%= echo.howToGet %>">
            </div>
            <div>
                <label for="isEnemy">Is <%= echo.name %> an echo of a defeated enemy?</label>
                <input type="checkbox" name="isEnemy" id="isEnemy" <%= echo.isEnemy ? 'checked' : '' %>>
            </div>
            <div>
                <button type="submit">Update echo</button>
            </div>

        </fieldset>
    </form>
</body>

</html>