<%- include('../../views/partials/html-head') %>
    <title>Echoes Index</title>
</head>
<body>
    <%- include('../../views/partials/nav-start') %>
    <a href="echoes/new">Create new Echo</a>
    <%- include('../../views/partials/nav-end') %>
    
    <br>
    <!-- objects -->
    <table>
        <caption>
            Object Echoes
        </caption>
        <thead>
            <th>Echo</th>
            <th>Tri-Power Cost</th>
            <th>How to Get</th>
        </thead>
        <tbody>
            <% echoes.forEach(echo => { %>
                <% if(!echo.isEnemy) { %>
                <tr>
                    <td><a href="/echoes/<%= echo._id %>"><%= echo.name %></a></td>
                    <td><%= '▼'.repeat(echo.triPowerCost) %></td>
                    <td><%= echo.location %><hr><%= echo.howToGet %></td>
                </tr>
                <% }; %>
            <% }); %>
        </tbody>
    </table>
    <br><br>
    <!-- enemies -->
    <table>
        <caption>
            Enemy Echoes
        </caption>
        <thead>
            <th></th>
            <th>Echo</th>
            <th>Tri-Power Cost</th>
            <th>How to Get</th>
        </thead>
        <tbody>
            <% echoes.forEach(echo => { %>
                <% if(echo.isEnemy) { %>
                <tr>
                    <td></td>
                    <td><a href="/echoes/<%= echo._id %>"><%= echo.name %></a></td>
                    <td><%= '▼'.repeat(echo.triPowerCost) %></td>
                    <td><%= echo.location %><hr><%= echo.howToGet %></td>
                </tr>
                <% }; %>
            <% }); %>
        </tbody>
    </table>
</body>
</html>