<%- include('../../views/partials/html-head') %>
    <title>Echoes Index</title>
</head>
<body>
    <%- include('../../views/partials/nav-start') %>
    <a href="echoes/new">Create a new Echo</a>
    <%- include('../../views/partials/nav-end') %>
    <h1>All Echoes</h1>
    <ul>
        <% echoes.forEach(echo => { %>
            <li><a href="/echoes/<%= echo._id %>"><%= echo.name %></a></li>
        <% }); %>
    </ul>
</body>
</html>