<%- include('../../views/partials/html-head') %>
    <title><%= echo.name %></title>
</head>
<body>
    <%- include('../../views/partials/nav-start') %>
    <a href="/echoes/<%= echo._id %>/edit">Edit <%= echo.name %></a>
    <%- include('../../views/partials/nav-end') %>
    <table>
        <caption>
            <%= echo.name + ' Echo' %>
        </caption>
        <thead>
            <th>Echo</th>
            <th>Tri-Power Cost</th>
            <th>How to Get</th>
        </thead>
        <tbody>
            <tr>
                <td><%= echo.name %></td>
                <td><%= '▼'.repeat(echo.triPowerCost) %></td>
                <td><%= echo.location %><hr><%= echo.howToGet %></td>
            </tr>
        </tbody>
    </table>
    <form action="/echoes/<%= echo._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= echo.name %></button>
    </form>
</body>
</html>