<%- include('../../views/partials/html-head') %>
    <title><%= echo.name %></title>
</head>
<body>
    <%- include('../../views/partials/nav-start') %>
    <a href="/echoes/<%= echo._id %>/edit">Edit <%= echo.name %></a>
    <%- include('../../views/partials/nav-end') %>
    <h1>Here is <%= echo.name %></h1>
    <% if (echo.isEnemy) { %>
        <p>This echo is found by defeating an enemy.</p>
    <% } else { %>
        <p>This echo is an object found in the game.</p>
    <% }; %>
    <form action="/echoes/<%= echo._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= echo.name %></button>
    </form>
</body>
</html>